<div layout="column"  flex>

  <!--section layout="row" flex=""-->


		<!-- ANGULAR MATERIAL SIDENAV LEFT -->
  <md-sidenav md-component-id="left" class="md-sidenav-left" >
      <md-toolbar >
        <h1 class="md-toolbar-tools"></h1>
      </md-toolbar>
     <md-content>
      <md-list flex>
        <!--md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader-->
        <md-list-item ng-show="user" class="md-2-line" ng-click="changeView(dashboard)" >
					<i class="material-icons md-avatar" >home</i>
          <div class="md-list-item-text" layout="column"><h3>Home</h3></div>
        </md-list-item>
        <md-list-item ng-show="!user" class="md-2-line" ng-click="goHomePage()" >
					<i class="material-icons md-avatar" >home</i>
          <div class="md-list-item-text" layout="column"><h3>Home</h3></div>
        </md-list-item>
	        <md-list-item class="md-2-line" ng-click="changeView('educate')">
					<i class="material-icons md-avatar" >chrome_reader_mode</i>
          <div class="md-list-item-text" layout="column"><h3>Curriculum</h3></div>
        </md-list-item>
				<md-divider ></md-divider>
        <md-list-item ng-show="user.isPremium || user.userType == 'student'" class="md-2-line" ng-click="goAssignments()">
					<i class="material-icons md-avatar" >assignment</i>
          <div class="md-list-item-text" layout="column"><h3>Assignments</h3></div>
        </md-list-item>
				<md-subheader ng-show="user" class="md-no-sticky">Classrooms</md-subheader>

				<div ng-repeat="klass in klassList track by $index">
       	<md-list-item class="md-2-line" ng-click="classView(klass.teacherId.username, klass.klassNum)" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="{{klass.name}}" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>{{klass.name}}</h3></div>
				 </md-list-item>
	<!--only show the following stream, student, and about links on mobile view -->
					<md-list-item ng-if="klass._id==thisKlass._id" class="md-2-line onlyOnMobile" ng-click="classView(thisKlass.teacherId.username, thisKlass.klassNum)" >
							<i class="material-icons md-avatar" >keyboard_arrow_right</i>
						<div class="md-list-item-text" layout="column"><h3>stream</h3></div>
					</md-list-item>
					<md-list-item ng-if="klass._id==thisKlass._id" class="md-2-line onlyOnMobile" ng-click="classView(thisKlass.teacherId.username, thisKlass.klassNum+'/students')" >
							<i class="material-icons md-avatar" >keyboard_arrow_right</i>
						<div class="md-list-item-text" layout="column"><h3>students</h3></div>
					</md-list-item>					
					<md-list-item ng-if="klass._id==thisKlass._id" class="md-2-line onlyOnMobile" ng-click="classView(thisKlass.teacherId.username, thisKlass.klassNum+'/about')" >
							<i class="material-icons md-avatar" >keyboard_arrow_right</i>
						<div class="md-list-item-text" layout="column"><h3>about</h3></div>
					</md-list-item>
				</div>

			<md-subheader ng-show="!user" class="md-no-sticky">Standard Curriculum</md-subheader>
				<div ng-show="!user">
	
				<md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/1')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="K" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text"  layout="column"><h3>Kindergarten</h3></div>
				</md-list-item>
        <md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/2')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="1" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>First</h3></div>
				 </md-list-item>
        <md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/3')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="2" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>Second</h3></div>
				 </md-list-item>
        <md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/4')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="3" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>Third</h3></div>
				</md-list-item>
        <md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/5')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="4" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>Fourth</h3></div>
				 </md-list-item>
        <md-list-item class="md-2-line" ng-click="changeView('educate/curriculum/6')" >
					<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="5" shape="round"></ng-letter-avatar></span>
          	<div class="md-list-item-text" layout="column"><h3>Fifth</h3></div>
				 </md-list-item>			
					
				</div>				
				

			 </md-list>
		</md-content>
  </md-sidenav>
<!--/sidenav-->



<!-- ANGULAR MATERIAL toolbar -->
    <md-toolbar class="" style="position: fixed; z-index:10;" >
      <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()" class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </md-button>
        <h1>
          <span class="hideOnMobile">{{thisKlass.name}}</span>
        </h1>
				
        <span flex></span>
			<md-nav-bar md-selected-nav-item="stream" mdSelectedNavItem="stream" class="hideOnMobile" ng-show="(user && user.userType == student) || (user && user.isPremium == true && user.username == thisUsername)" >
      <md-nav-item md-nav-click="classView(thisKlass.teacherId.username, thisKlass.klassNum)"  name="stream">Stream</md-nav-item>
      <md-nav-item md-nav-click="classView(thisKlass.teacherId.username, thisKlass.klassNum+'/students')" name="students">Students</md-nav-item>
      <md-nav-item md-nav-click="classView(thisKlass.teacherId.username, thisKlass.klassNum+'/about')"  name="about">About</md-nav-item>
    </md-nav-bar>
			  <span flex></span>
		
				<md-button ng-show="!user" class="md-raised" aria-label="Sign up" href="/login" target="_self">Login</md-button>

			<md-menu ng-show="user" md-position-mode="target-right bottom" md-offset="0 10">
	        <md-button  ng-click="openMenu($mdOpenMenu, $event)">
          <div class="valign-center hideOnMobile">
						{{user.username}}	<i class="material-icons">arrow_drop_down</i>
					</div>
          <div class="valign-center onlyOnMobile">
					<i class="material-icons">person</i>
					</div>				
        </md-button>

      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="goProfile()">          
						<md-icon class="material-icons">person</md-icon>Profile
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button href="/logout" target="_self">
						<md-icon class="material-icons">exit_to_app</md-icon>Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>		
      </div>
</md-toolbar>	

			<!-- /ANGULAR MATERIAL TOOLBAR -->	
	
	<!-----------------------------------NEW------------------------------------------->
	
		    <md-content flex class="md-padding" style="margin-top: 120px; background-color: #e9eaec;">


<div class="container" >
	<div class="row">
		<div class="col-md-3">
			
<!--show class name here in a card if on mobile -->			
			<md-card class="onlyOnMobile">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="" style="text-align:center">{{thisKlass.name}}</h3>
				</div>
			</div><!--/panel--->
			</md-card>
			
			<md-card style="border-radius:20px">
			<div class="panel" style="border-radius:20px 20px 0 0">
				<div class="panel-heading">
					<h4 class="">Assignments <a class="text-muted" ng-href="/assignments"> all</a></h4>
					<hr>

					<h4 ng-show="itemsToday.length > 0" class="">Due Today</h4>
				<div ng-repeat="assignment in assignmentList | filter: getItemsDueToday  | limitTo: 4   as itemsToday">
					<span style="color:gray" class="">{{assignment.name}}</span>
					<br/>
				</div>			
					
					<h4 ng-show="itemsTomorrow.length > 0" class="">Due Tomorrow</h4>
				<div ng-repeat="assignment in assignmentList | filter: getItemsDueTomorrow  | limitTo: 4 as itemsTomorrow ">
					<span style="color:gray" class="">{{assignment.name}}</span>
					<br/>
				</div>
					
					<h4 ng-show="itemsNextDay.length > 0" class="">Due {{getDayTwoFromNow()}}</h4>
				<div ng-repeat="assignment in assignmentList | filter: getItemsDueNextDay  | limitTo: 4 as itemsNextDay ">
					<span style="color:gray" class="">{{assignment.name}}</span>
					<br/>
				</div>					
					
				</div>
			</div><!--/panel--->
			</md-card>
	


			<!--Leaderboard -->
			<md-card ng-show="thisKlass.pointsOn" style="border-radius:20px">
			<div class="panel" style="border-radius:20px 20px 0 0">
				<div class="panel-heading">
					<h4 class="">Leaderboard</h4>
					<md-divider></md-divider>				
					<md-list>
					  <md-list-item ng-repeat="student in leaderboard | orderBy: 'points':true | limitTo: 5" ng-click="" class="">
						<span class="md-avatar"><ng-letter-avatar  height="40" width="40"  data="{{student.studentId.firstName}}" shape="round"></ng-letter-avatar></span>{{student.studentId.firstName}}</span> 
						<span flex></span>  <span class="">{{student.points}}</span> 
  					</md-list-item>
					</md-list>				
				</div>
			</div><!--/panel--->
			</md-card>	
	
				
				</div> <!--/end 3 col width-->
	
<style>
	img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
	</style>
	
		<div class="col-md-8">
			<!--default block-->
			<md-card ng-hide="assignmentList.length > 0" style="border-radius: 20px">        
 				<md-content layout-padding style="border-radius:20px 20px 0 0">
					<div layout="row">
						<div layout="column" flex>
							<h2>{{thisAG.name}} - {{thisAG.assignmentGroupNum}}</h2>
            	<span class="md-subhead"> {{thisAG.description}}</span>
						</div>
						<div layout="row" flex="nogrow">	
						<md-button ng-hide="!user || user.username != thisUsername" ng-click="classView(thisUsername, thisKlassNum+'/about')" class="md-icon-button" aria-label="edit">
							<md-icon class="material-icons">edit</md-icon></md-button>
						</div>
					</div>
				</md-content>
				<md-card-content>

					<span flex>
						
								
						<div class="row text-center"><a ng-href="/class/{{thisKlassId}}/ag/{{thisAG._id}}"><img src="./../img/icons/keyboard.png"></img></a></div>
						<div class="row text-center "><img style="margin: 20px" class="" src="./../img/icons/archives.png"></img><img style="margin: 20px" class="" src="./../img/icons/wrench.png"></img></div>
						<div class="row text-center "><img style="margin: 20px" class="" src="./../img/icons/light-bulb.png"></img><img style="margin: 20px" class="" src="./../img/icons/newspaper.png"></img></div>
						<div class="row text-center "><img style="margin: 20px" class="" src="./../img/icons/flask.png"></img><img style="margin: 20px" class="" src="./../img/icons/archives.png"></img></div>
						<div class="row text-center"><img src="./../img/icons/chat.png"></img></div>

					</span>
						<md-button class="md-raised" ng-click="showAssignment($event)">Assign</md-button>
					</md-card-content>
			</md-card>

<style>
			
.label-as-badge {
    border-radius: 1em;
}
}</style>
			

			<md-card ng-show="assignmentList.length > 0" style="border-radius: 20px">        
 				<md-content layout-padding style="border-radius:20px 20px 0 0">
					<div layout="row">
						<div layout="column" flex>
							<h2><img ng-src="./../img/icons/{{thisAG.icon}}" style="margin: 20px"></img>					
{{thisAG.name}}</h2>
            	<span class="md-subhead"> {{thisAG.description}} - {{thisAG.assignmentGroupNum}}</span><br/>
						
						         <span class="md-subhead" style="color:grey">
             Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
					</span>
<youtube-video video-url="anotherGoodOne" style="margin:20px"></youtube-video>
					
						
						
						
						
						</div>
					
						<div layout="row" flex="nogrow">	
						<md-button ng-hide="!user || user.username != thisUsername" ng-click="classView(thisUsername, thisKlassNum+'/about')" class="md-icon-button" aria-label="edit">
							<md-icon class="material-icons">edit</md-icon></md-button>
						</div>
					</div>
				</md-content>
				<md-card-content>

					<span flex>
						
				<div ng-repeat="assignment in assignmentList track by $index">
					
						<!--div class="md-card">
							<div class="row">
								<a ng-href="/class/{{thisKlass._id}}/ag/{{assignmentGroup.assignmentGroupId._id}}"><img ng-src="./../img/icons/{{assignmentGroup.assignmentGroupId.icon}}" style="margin: 20px"></img></a>
								{{assignmentGroup.assignmentGroupId.name}} 
					</div>
							<div class="row text-right">
							                <md-button  ng-click="showDeleteConfirm($event, $index, assignmentGroup.assignmentGroupId._id)" class="md-icon-button" aria-label="delete">
						<md-icon class="material-icons">close</md-icon>
        </md-button>
          </md-button>
						</div>
						</div-->
					
					
			<div class="md-card" >
				
				
							<md-toolbar style="background-color:#fff; color:black;">
			<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="">
						<i class="material-icons">{{assignment.isAnnouncement ? 'announcement' : 'assignment'}}</i>
					</md-button>
					<h2 class="hideOnMobile">{{assignment.isAnnouncement ? 'Announcement' : 'Assignment'}}</h2>
					<span flex></span>
					<h4 ng-hide="assignment.isAnnouncement">						
						<span class="hideOnMobile"> <span ng-class="isDueTodayOrLate(assignment.due) ? 'bg-primary' : 'text-muted'">DUE</span></span> {{assignment.due | date:"EEE, MMM dd"}}</h4>
					<md-button class="md-icon-button" ng-click="cancel()">
						<i class="material-icons">more_vert</i>
					</md-button>
				</div>
			</md-toolbar>	
				
				
        <md-card-title>
          <!--md-card-title-text>
						<span class="md-headline"><a ng-href="/class/{{thisKlass._id}}/ag/{{assignmentGroup.assignmentGroupId._id}}">{{assignment.assignmentGroupId.name}}</a> </span>
            <span class="md-subhead" style="font-weight:bold;">3 lessons</span><span class="md-subhead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

						</span>
          </md-card-title-text-->
				<md-card-title-text>
					<span  class="md-headline">
						<!--a style="" ng-href="/class/{{thisKlassId}}/assignment/{{assignment._id}}/details"-->
						<a style="" ng-href="/educate/{{thisUsername}}/{{thisKlassNum}}/{{thisAG.assignmentGroupNum}}/{{assignment.assignmentNum}}">
							{{assignment.name}} - {{assignment.assignmentNum}}</a>	</span>
					<span  class="md-subhead" >{{assignment.description}}</span>
			</md-card-title-text>
					
          <!--md-card-title-media>
            <div class="md-media-lg card-media">	<a ng-href="/class/{{thisKlassId}}/assignment/{{assignment._id}}/details"><img ng-src="./../img/icons/{{assignment.icon}}" style="margin: 20px; height:100px; width:100px"></img></a>
</div>
          </md-card-title-media-->
				
				
							<md-card-title-media >
  			<a style="text-decoration:none; color:black" ng-href="/class/{{thisKlassId}}/assignment/{{assignment._id}}/review/list">	
          <div class="md-media-sm card-media" >
							<h1>{{assignment.numComplete}} </h1>
							<span  class="md-subhead" style="color:grey">complete</span>
					</div>
				</a>
       </md-card-title-media>

				<md-card-title-media>
					<a style="text-decoration:none; color:black" ng-href="/class/{{thisKlassId}}/assignment/{{assignment._id}}/review/list">	
            <div class="md-media-sm card-media">
							<h1>{{assignment.numNotComplete}}</h1>
							<span  class="md-subhead" style="color:grey">not done</span>
						</div>
					</a>
        </md-card-title-media>
				
				
        </md-card-title>
						
        <md-card-actions layout="row" layout-align="end center">
          <!--md-button>Reorder</md-button>
				  <md-button  ng-click="showDeleteConfirm($event, $index, assignmentGroup.assignmentGroupId._id)"  aria-label="delete">Delete</md-button-->        
					</md-card-actions>
      </div>
					        <md-divider ng-if="!$last"></md-divider>

					
					
				</div> <!--/ng repeat assignments-->							


					</span>

			</md-card-content>
			</md-card>



		</div> <!--/grid of 8-->


<div class="col-md-1">
	<!--div style="min-height: 90vh;"></div-->
<div id="floater">

			<!-----------------------FAB--------------------------->
			<md-fab-speed-dial  md-direction="up" class="md-scale md-fab-bottom-right" ng-hide="!user || user.username != thisUsername" >
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab md-warn">
          <i class="material-icons wi">add</i>				
					</md-button>
				</md-fab-trigger>
	
				<md-fab-actions>
					<md-button aria-label="Twitter" class="md-fab md-raised" ng-click="showAssignment($event)">
						 <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">create assignment</md-tooltip>
          <!--div class="valign-center"><i class="material-icons">add</i></div-->
						<i class="material-icons wi">assignment</i>
					</md-button>
					<md-button aria-label="Facebook" class="md-fab md-raised " ng-click="showAnnouncement($event)">
							 <md-tooltip md-direction="left" md-visible="tooltipVisible">create announcement</md-tooltip>
          		<i class="material-icons wi">comment</i>				
					</md-button>
					<md-button aria-label="Facebook" class="md-fab md-raised " ng-click="showAnnouncement($event)">
							 <md-tooltip md-direction="left" md-visible="tooltipVisible">question</md-tooltip>
          		<i class="material-icons wi">live_help</i>				
					</md-button>
				</md-fab-actions>
	
			</md-fab-speed-dial>
			<!-----------------------FAB--------------------------->
	</div><!--floater?-->
		</div><!--/col of 2-->

	</div><!-- /.row -->

</div><!-- /.container -->

<script type="text/ng-template" id="dialog.assignment.html">
	<md-dialog aria-label="new assignment" flex="60">
		<form ng-cloak>

			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="">
						<i class="material-icons">assignment</i>
					</md-button>
					<h2>Assignment</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="cancel()">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>

			<md-dialog-content>
				<div class="md-dialog-content">
					<h2>Create an assignment</h2>

					<md-input-container class="md-block" flex-gt-xs>
						<input ng-model="newAssignment.name" placeholder="name" ng-required="true">
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<input ng-model="newAssignment.description" placeholder="description">
					</md-input-container>

					<md-input-container class="md-block" flex-gt-xs>
						<md-datepicker ng-model="newAssignment.due" md-placeholder="Due date" md-open-on-focus ng-required="true"></md-datepicker>
					</md-input-container>
				
				</div>
			</md-dialog-content>

			<md-dialog-actions layout="row">

				<span flex></span>
				<md-button ng-click="cancel()">
					Cancel
				</md-button>
				<md-button ng-click="goAssignment()">
					Create
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
</script>



<script type="text/ng-template" id="dialog.announcement.html">
	<md-dialog aria-label="new announcement" flex="60">
		<form ng-cloak>

			<md-toolbar>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" ng-click="">
						<i class="material-icons">comment</i>
					</md-button>
					<h2>Announcement</h2>
					<span flex></span>
					<md-button class="md-icon-button" ng-click="cancel()">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>

			<md-dialog-content>
				<div class="md-dialog-content">
					<h2>Create an announcement</h2>

					<md-input-container class="md-block" flex-gt-xs>
						<input ng-model="newAssignment.name" placeholder="announcement">
					</md-input-container>

	

				</div>
			</md-dialog-content>

			<md-dialog-actions layout="row">

				<span flex></span>
				<md-button ng-click="cancel()">
					Cancel
				</md-button>
				<md-button ng-click="goAssignment()">
					Create
				</md-button>
			</md-dialog-actions>
		</form>
	</md-dialog>
</script>



				
	</md-content>
	
  </div>